<html>
    <head>
        <title>Not Found</title>
        <style>
        	body {font-family:"Verdana";font-weight:normal;font-size: 8pt;color:black;} 
        	p {font-family:"Verdana";font-weight:normal;color:black;margin-top: -5px}
        	b {font-family:"Verdana";font-weight:bold;color:black;margin-top: -5px}
        	h1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
        	h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
        	pre {font-family:"Lucida Console";font-size: 8pt}
        	.marker {font-weight: bold; color: black;text-decoration: none;}
        	.version {color: gray;}
        	.error {margin-bottom: 10px;}
        	.expandable { text-decoration:underline; font-weight:bold; color:navy; cursor:hand; }
        </style>
    </head>
    <body bgcolor="white">

            <span><h1>Error de servidor en la aplicación '/Abastecimientos'.<hr width=100% size=1 color=silver></h1>

            <h2> <i>Error HTTP 404 - Not Found.</i> </h2></span>

            <hr width=100% size=1 color=silver>

            <b>Información de versión:</b>&nbsp;Servidor de desarrollo de ASP.NET 11.0.0.0

            </font>

    </body>
</html>
